# Python 虚拟环境
venv/
env/
.venv/

# PyCharm 项目设置
.idea/

# VS Code 设置
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

.env
.env.local

logs/*
!logs/.gitkeep

__pycache__/
*.pyc

xueqiu_cookie.json



